<%= form_with model: article, class: "article-form" do |form| %>
  <div class='article-form__field-wrapper'>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: 'Enter article title' %>
    <% article.errors.full_messages_for(:title).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div class='article-form__field-wrapper'>
    <%= form.label :body %>
    <%= form.text_area :body, placeholder: 'Enter article body', class: 'article-form__textarea' %>
    <% article.errors.full_messages_for(:body).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <% if article.images.any? %>
    <div class='article-form__field-wrapper'>
      <% article.images.each do |img| %>
        <div style="display: flex; flex-direction: row; gap: 1rem; align-items: center;">
          <%= form.hidden_field :images, multiple: true, value: img.signed_id if img.persisted? %>
          <%= image_tag img.variant :sm %>
          <%= button_tag "Delete image", 
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: 'button--red',
            formaction: article_image_path(article, img),
            formmethod: :delete,
            type: "submit"
          %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='article-form__field-wrapper'>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
    <% article.errors.full_messages_for(:images).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div class='article-form__field-wrapper'>
    <%= form.label :status %>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || "public" %>
  </div>

  <%= form.submit %>
<% end %>
